* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(thomas.jpg);
    background-color: grey;
}
h1{
    color: white;
    display: inline;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    padding: 10px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
input{
    width: 40%;
    text-align: left;
    padding: 10px;
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.75);
}
.search{
    text-align: center;
    
}
.box{
    width: 250px;
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    padding: 0px;
    margin: 20px;
    color: #fff;
    display: inline-block;
}
.products{
    text-align: center

}
p:hover{
    color: #009688;
    cursor: pointer;
}
.banner{
    text-align: center;
}