* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(thomas.jpg);
    background-color: grey;
}
h1{
    color: white;
    display: inline;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    padding: 10px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translate(0%);
    text-align: center;
    color: #fff;
}

.content h1 {
    size: 70px;
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

span {
    background: #009688;
    width: 0%;
    height: 100%;
    border-radius: 5%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

button:hover span {
    width: 100%;
}


button:hover {
    border: none;
}

.about{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    border-radius: 25px;
    size: 70px;
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}
